*.pyc
__pycache__
.ipynb_checkpoints


build
dist
DESlib.egg-info
.idea
.pytest_cache

data/

docs/
.circleci
benchmarks/
examples/

.coveragerc
.pep8speaks.yml

.readthedocs.yml

.travis.yml
CONTRIBUTING.md

MANIFEST.in

requirements-dev.txt

